# Real comments in this file are marked with '#' whereas commented out lines
# are marked with '!'

# The well-known OpenID configuration URL of the token issuer.
wellKnownUrl = https://example.org/.well-known/openid-configuration

# The name/URL of the token issuer as it appears in the 'iss' token claim.
tokenIssuer = https://example.org/auth/realms/example

# The token claim to be used for identifying the user.
icatUserClaim = icatUser

# Throw an AuthnException if no icatUserClaim is present in the token?
# Otherwise, authn.oidc falls back to using the 'sub' claim.
!icatUserClaimException = true

# Require the token to have a particular scope. If specified, tokens without
# this scope will be rejected.
!requiredScope = icat_login

# If access to the OIDC authentication should only be allowed from certain
# IP addresses then provide a space separated list of allowed values. These
# take the form of an IPV4 or IPV6 address followed by the number of bits
# (starting from the most significant) to consider.
!ip = 130.246.0.0/16   172.16.68.0/24

# The mechanism label to appear before the username.
!mechanism = oidc

# Prepend the icatUserClaim name with the above mechanism?
# Otherwise, authn.oidc tries to extract the mechanism from the name itself.
!icatUserPrependMechanism = true
